@{
    PageData["title"] = "Welcome to Self Care";
}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center indigo-text">Welcome to SelfCare</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end portal based on Material Design</h5>
        </div>
        <div class="row center">
            <a href="https://github.com/SoftCrafters/selfcare" id="download-button" class="btn-large waves-effect indigo">Get Started</a>
        </div>
        <br><br>
    </div>
</div>